<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CVBImageProc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CVBImageProc.Properties.Settings>
            <setting name="LastLoadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRAWLoadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRAWSavePath" serializeAs="String">
                <value />
            </setting>
        </CVBImageProc.Properties.Settings>
    </userSettings>
</configuration>